<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/PaginaDeError.html</location>
    </error-page>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>clases.RegistrarUsuario</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Logeo</servlet-name>
        <servlet-class>clases.Logeo</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Edicion</servlet-name>
        <servlet-class>clases.Edicion</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>CargarUsuario</servlet-name>
        <servlet-class>clases.CargarUsuario</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>EditarIncidencia</servlet-name>
        <servlet-class>clases.EditarIncidencia</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>CargarIncidencia</servlet-name>
        <servlet-class>clases.CargarIncidencia</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ListaU</servlet-name>
        <servlet-class>clases.ListaU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>clases.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoComentario</servlet-name>
        <servlet-class>clases.NuevoComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarIncidencia</servlet-name>
        <url-pattern>/cargainci/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarIncidencia</servlet-name>
        <url-pattern>/editarincidencia/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logeo</servlet-name>
        <url-pattern>/logeo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edicion</servlet-name>
        <url-pattern>/edicion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarUsuario</servlet-name>
        <url-pattern>/carga/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>clases.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>EditarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/perfil/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>imagen</servlet-name>
        <servlet-class>clases.Imagen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imagen</servlet-name>
        <url-pattern>/imagen/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrearIncidencia</servlet-name>
        <servlet-class>clases.CrearIncidencia</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearIncidencia</servlet-name>
        <url-pattern>/crearIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarIncidencia</servlet-name>
        <url-pattern>/CargarIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaU</servlet-name>
        <url-pattern>/ListaU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>Apuntarse</servlet-name>
        <servlet-class>clases.Apuntarse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apuntarse</servlet-name>
        <url-pattern>/Apuntarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoComentario</servlet-name>
        <url-pattern>/NuevoComentario/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
